<!doctype html>
<html class="no-js" lang="">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Comune di Venezia - whistleblowing</title>
    <meta name="description" content="Comune di Venezia - whistleblowing">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!--<link rel="apple-touch-icon" href="apple-touch-icon.png">-->

    <link rel="stylesheet" href="/bower_components/material-design-lite/material.min.css" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons" type="text/css">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Titillium+Web" type="text/css">
    <link rel="stylesheet" href="/css/style.css" type="text/css">

    <script src="/bower_components/modernizer/modernizr.js"></script>
    <script src="/bower_components/material-design-lite/material.min.js"></script>

    {{{_sections.head}}}
  </head>
  <body>
    <!--[if lt IE 11]>
        <p class="browserupgrade">Stai usando una versione <strong>datata</strong> del browser. Ti invitiamo ad <a href="http://browsehappy.com/">aggiornare il tuo browser</a> per una maggiore sicurezza.</p>
    <![endif]-->

    <div class="demo-layout-transparent mdl-layout mdl-js-layout mdl-layout--fixed-header">
      <header class="mdl-layout__header">
        <div class="mdl-layout__header-row">
          <span class="android-title mdl-layout-title">
            <a href="/"><img class="logo-image" src="{{logo}}"></a>
          </span>
          <div class="mdl-layout-spacer"></div>
          <nav class="mdl-navigation mdl-navigation-header">
            {{#if session.role}}
              {{> (partial session.role)}}
            {{else}}
              {{> default}}
            {{/if}}
          </nav>
        </div>
      </header>

      <div class="mdl-layout__drawer">
        <img class="logo-image-drawer" src="{{logomenu}}">
        <!--<span class="mdl-layout-title">whistleblowing</span>-->
        <nav class="mdl-navigation">
          {{#if session.role}}
            {{> (partial session.role)}}
          {{else}}
            {{> default}}
          {{/if}}
        </nav>
      </div>

      <div class="demo-blog mdl-layout">
        <main class="mdl-layout__content">
          {{{body}}}
        </main>
        {{> footer}}
      </div>
    </div>

    {{{_sections.beforebodyend}}}
  </body>

  {{{_sections.afterbody}}}

  <script>
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-6830106-22', 'auto');
    ga('set', 'anonymizeIp', true);
    ga('send', 'pageview');
  </script>
</html>
