<div class="demo-blog__posts mdl-grid">
  <div class="demo-card-wide mdl-card mdl-cell mdl-cell--12-col">
    <div class="mdl-card__title">
      <h2 class="mdl-card__title-text">Tecnologia</h2>
    </div>
    <div class="mdl-card__supporting-text">
      <p>Il Whistleblowing del Comune di Venezia utilizza un sistema a doppia crittografia:</p>
      <ul>
        <li><a href="https://it.wikipedia.org/wiki/Crittografia_asimmetrica" title="Collegamento alla voce 'Crittografia asimmetrica' di Wikipedia" target="_blank">asimmetrica</a> lato client, sul browser di chi effettua la segnalazione</li>
        <li><a href="https://it.wikipedia.org/wiki/Crittografia_simmetrica" title="Collegamento alla voce 'Crittografia simmetrica' di Wikipedia" target="_blank">simmetrica</a> lato server, nel Centro Servizi del Comune di Venezia</li>
      </ul>

      <p>
        Le informazioni relative al fatto segnalato, il messaggio ed i file allegati vengono crittati, <strong>prima dell'invio sul browser di chi sta segnalando</strong>, con la chiave pubblica del <em>Responsabile anti corruzione del Comune di Venezia</em>.<br/>
        I dati anagrafici di chi segnala il fatto vengono crittati, allo stesso modo, con la chiave pubblica del <em>Responsabile della sicurezza informatica</em>.
        <br /><br/><strong>Tutti i dati sono pertanto trasmessi attraverso la rete Internet gi&agrave; crittografati</strong> e attraverso il protocollo sicuro <a href="https://it.wikipedia.org/wiki/HTTPS" title="Collegamento alla voce 'HTTPS' di Wikipedia" target="_blank">HTTPS</a>.<br />
        Una volta inviati al server, i dati sono ulteriormente crittati con chiave simmetrica e salvati all'interno del database.
        I file, prima di essere salvati nel database, sono compressi all'interno di un file zip.<br/><br/>
        <strong>Soltanto i due Responsabili, in possesso esclusivo delle rispettive credenziali di accesso e delle chiavi private, sono in grado di visualizzare il contenuto della parte di segnalazione di propria competenza.</strong><br/><br/>
        I <strong>dati e le informazioni relative alla segnalazione</strong> possono essere visualizzati soltanto dal <em>Responsabile anti corruzione del Comune di Venezia</em>.
        I <strong>dati anagrafici</strong> possono essere visualizzati soltanto dal <em>Responsabile dela sicurezza informatica</em> e solo su richiesta dell'Autorit&agrave; giudiziaria, dopo aver ricevuto l'identificativo della segnalazione da parte del Responsabile anti corruzione.
      </p>

      <p>La cifratura lato server &egrave; eseguita con algoritmo <a href="https://it.wikipedia.org/wiki/Advanced_Encryption_Standard" title="Collegamento alla voce 'Advanced Encryption Standard' di Wikipedia" target="_blank">AES-256-CBC</a> con vettore unico ad inizializzazione casuale per ogni operazione. La cifratura lato client &egrave; implementata attraverso il protocollo <a href="https://it.wikipedia.org/wiki/OpenPGP" title="Collegamento alla voce 'OpenPGP' di Wikipedia" target="_blank">OpenPGP</a>.</p>

      <p>Questo &egrave; il flusso delle operazioni in invio della segnalazione <br /><strong>client encryption -> server encryption -> database saving</strong></p>
      <p>Questo &egrave; invece il flusso delle operazioni in lettura della segnalazione <br /><strong>database loading -> server decryption -> client decryption</strong></p>

      <!--<p>Ad ulteriore garanzia il codice sorgente &egrave; consultabile al seguente indirizzo <a target="_blank">github</a></p>-->

      <p>Le principali tecnologie utilizzate sono:</p>
      <ul>
        <li><a href="https://nodejs.org/" title="Collegamento al sito NodeJS" target="_blank">NodeJS</a></li>
        <li><a href="https://www.mongodb.org/" title="Collegamento al sito MongoDB" target="_blank">MongoDB</a></li>
        <li><a href="http://openpgpjs.org/" title="Collegamento al sito OpenPGP.js" target="_blank">OpenPGP.js</a></li>
        <li><a href="https://www.google.com/design/spec/material-design/introduction.html" title="Collegamento al sito Material Design di Google.com" target="_blank">Material design</a></li>
      </ul>

      <p>Il Whistleblowing del Comune di Venezia &egrave; stato realizzato da Marco Gazzuolo con la collaborazione di Gianluca Mura dell'Unit&agrave; Operativa Nuovi Servizi di <a href="http://www.venis.it" title="Collegamento al sito di Venis SpA" target="_blank">Venis SpA</a></p>
    </div>
  </div>
</div>
